#navbar{
width: 100%;
background-color: #2C3E50;
display: flex; 
position: fixed;
width: 100%;
z-index: 1;
padding: 10px;
}
::-webkit-scrollbar {
width: 8px;
background-color: #E9E9E9;
border-left: 1px solid #BBBBBB;
}
::-webkit-scrollbar-thumb {
background-color: #555555;margin: 5px;
}
::-webkit-scrollbar-thumb:active {
background-color: #1abc9c;
}
#navbar .list{
width: 70%;
margin-top: 2rem;
text-align: right;
text-decoration: none;
list-style: none;
margin-right: 5rem;
}
#navbar .list li a{
list-style: none;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 700;
font-size: 20px;
transition: 0.5s;
color: #fff;
}
#navbar .list li a:hover{
color: #1ABC9C;
}
#navbar .list li{
float: right;
padding-left: 3rem;
margin-bottom: 1rem;
list-style: none;
}
.logo{
width: 25%;
margin: 1rem 3rem;
display: inline-block;
}
.logo h1{
font-size: 2rem;
line-height: 3.5rem;
color: #fff;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 700;
}
#start{
background-color: #1ABC9C;
height: 100vh;
}
#start .top{
width: 100%;
padding-top: 10rem;
text-align: center;
}
#start .top img{
width: 15%;
}
#start .bottom{
margin: 2rem;
text-align: center;
}
#start .bottom h1{
font-size: 5rem;
line-height: 3.5rem;
color: #fff;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 700;
}
.bottom .icon{
width: 22%;
margin: auto;
margin-top: 2rem;
}
.bottom .icon hr{
background-color: #fff;
border:  2px solid #fff;
width: 35%;
display: inline-block;
border-radius: 1rem;
margin: 10px;
}
.bottom .icon i{
color: #fff;
font-size: 2rem;
}
.bottom p{
font-size: 1.7rem;
color: #fff;
margin-top: 2rem;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#portfolio{
text-align: center;
margin: 2rem;
}
#portfolio .icon{
width: 22%;
margin: auto;
margin-top: 2rem;
}
#portfolio .icon hr{
margin: 10px;
width: 35%;
background-color: #2c3e50;
display: inline-block;
border-radius: 1rem;
border: 2px solid #2c3e50;
}
#portfolio .icon i{
color: #2C3E50;
font-size: 2rem;
}
#portfolio .icon h1{
font-size: 3rem;
line-height: 2.5rem;
color: #2c3e50;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 700;
padding: 2rem;
}
#portfolio .boxs {
padding: 4rem;
overflow: auto;
}
#portfolio .boxs .box{
position: relative;
width: 30%;
float: left;
margin: 22px;
}
#portfolio .boxs img{
display: block;
width: 100%;
height: auto;
border-radius: 10px;
}
.hovereffect {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .4s ease;
border-radius: 10px;
background-color: rgba(26, 188, 156, 0.9);
}
.box:hover .hovereffect {
opacity: 1;
} 
.hovereffect i {
color: white;
font-size: 5rem;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
#about{
text-align: center;
height: 75vh;
}
#about .icon{
width: 22%;
margin: auto;
}
#about .icon h1 {
font-size: 3rem;
line-height: 2.5rem;
color: #fff;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 700;
padding-bottom: 2rem;
}
#about .icon hr {
background-color: #fff;
border: 2px solid #fff;
width: 35%;
display: inline-block;
border-radius: 1rem;
margin: 10px;
}
#about  .icon i{
color: #fff;
font-size: 2rem;
}
#about{
padding: 6rem 0;
background-color: #1ABC9C;
}
#about .bottom{
display: flex;
text-align: center;
margin-bottom: 3rem;
}
#about .bottom .lefth{
width: 30%;
margin-left: auto;
padding-right: 1rem;
}
#about .bottom .right{
width: 30%;
margin-right:auto;
padding-left: 1rem;
}
#about .bottom .lefth p{
font-size: 1.3rem;
color: #fff;
text-align: left;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#about .bottom .right p{
font-size: 1.3rem;
color: #fff;
text-align: left;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#about a{
margin-top: 2rem;
padding: 1.2rem 1.85rem;
font-size: 1.25rem;
color: #f8f9fa;
background-color: transparent;
border: 2px solid #f8f9fa;
border-radius: 10px;
transition: 0.5s;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#about a:hover{
background-color: #fff;
color: black;
}
#contact{
text-align: center;
margin: 2rem;
}
#contact .icon{
width: 28%;
margin: auto;
margin-top: 2rem;
}
#contact .icon hr{
margin: 10px;
width: 35%;
background-color: #2c3e50;
display: inline-block;
border-radius: 1rem;
border: 2px solid #2c3e50;
}
#contact .icon i{
color: #2C3E50;
font-size: 2rem;
}
#contact .icon h1{
font-size: 3rem;
line-height: 2.5rem;
color: #2c3e50;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 700;
padding: 2rem;
}
#contact .forum{
padding: 4rem;
margin-left: 8rem;
}
#contact .forum .inputforum{
margin: auto;
width: 70%;
}
#contact .forum .inputforum input{
padding: 2rem;
font-size: 1.25rem;
border: transparent;
display: block;
margin-bottom: 1rem;
width: 100%;
}
#contact .forum .inputforum input:focus{
outline: none;
}
#contact .forum .inputtextarea{
margin: auto;
display: block;
}
#contact .forum .inputtextarea textarea{
height: 10rem;
width: 70%;
margin-top: 1rem;
margin-left: 4rem;
font-size: 1.30rem;
resize: vertical;
max-height: 18rem;
border: none;
border-bottom: 1px solid rgb(130, 126, 126);
}
#contact .forum .inputtextarea textarea:focus{
outline: none;
}
#contact .forum .forumbutton{
width:43%;
margin-top: 2rem;
}
#contact .forum .forumbutton button{
text-align: left;
padding: 1.30rem 2rem;
font-size: 1.25rem;
color: #fff;
border-radius: 10px;
background-color: #1abc9c;
border: transparent;
opacity: 0.6;
transition: 0.5s;
}
#contact .forum .forumbutton button:hover{
opacity: 1;
}
#footer{
    background-color: #2c3e50;
    padding: 4rem 0;
    height: 35vh;
}
#footer .box{
    width: 26%;
    float: left;
    margin-left: 5rem;
    text-align: center;
}
#footer .box a{
    color: #1abc9c;
    text-decoration: underline;
}
#footer .box h4{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 28px;
    color: #fff;
    margin-bottom: 12px;
}
#footer .box p{
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#footer .box i{
text-align: center;
font-size: 2rem;
color: #f8f9fa;
margin: 0 8px;
transition: .4s;
}
#footer .box i:hover{
 color: black;
}
#footer .company{
    background-color: #1a252f;
    padding: 25px 0;
    margin-top: 5rem;
  display: inline-block;
  width: 100%;
}
#footer .company p{
    font-size: 12px;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}